@use "styles";

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon {
    margin: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
    transform: scale(1.1);
}

.darkmode-container {
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.sun-moon-container {
    --rotation: 0;

    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.sun,
.moon {
    fill: var(--accent-color);
}

.sun {
    opacity: 1;
}

.dark .sun {
    opacity: 0;
}

.moon {
    opacity: 0;
    transform: rotate(180deg);
}

.dark .moon {
    opacity: 1;
}
