/* Variables */

$primary-bg-color: #f6fdff;
$primary-text-color: #2E2E2E;

$darkmode-bg-color: #333;
$darkmode-text-color: white;

body {
    --accent-color: #ffd900;
    --background-color: $primary-bg-color;
    --text-color: $primary-text-color;
    --button-text-color: $primary-bg-color;
    --transition-delay: 1s;

    margin-top: 1rem;
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: cyan;
    --background-color: #333;
    --text-color: #333;

    h1 {
        color: white;
    }
}

// .container .row .col-12 .card .card-body div .btn.equal {
//     background-color: #0000FF;
//     width: 100%;
//     margin-top: 2em;
//     border: none; 
// }