/* Variables */

$primary-bg-color: #f6fdff;
$primary-text-color: #2e2e2e;

body {
    --accent-color: #ffd900;
    --background-color: $primary-bg-color;
    --text-color: $primary-text-color;
    --button-text-color: $primary-bg-color;
    --border-color: rgba(179, 179, 179, 0.445);
    --transition-delay: 1s;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;

    margin-top: 1rem;
    transition: var(--transition-delay);
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark {
    --accent-color: cyan;
    --background-color: #333;
    --text-color: #333;

    h1 {
        color: white;
    }

    .container,
    .card,
    .card-body {
        background-color: var(--background-color);
    }

    button.equal {
        background-color: var(--accent-color);
        color: var(--background-color);
    }

    .darkmode-container {
        box-shadow: 0 5px 1px 2px rgba(109, 109, 109, 0.274); /* Adjust as needed */
    }
}

.card {
    border: 1px solid grey;
    border-radius: 0.2em;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.calc-container {
    border: 1px solid gray;
    position: relative;
    align-items: center;
    width: 100%;
    max-width: 25rem;
    border-radius: 0.3rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--border-color);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */

    p {
        text-align: center;
    }
}

.input-display {
    margin: 0;
    height: 40px;
    width: 100%;
    outline: none;
    text-align: right;
    margin-bottom: 10px;
    font-size: 25px;
    color: #000e1a;
    border: 1px solid var(--border-color);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-top: none;
}

.input-result {
    margin: 0;
    height: 20px;
    width: 100%;
    outline: none;
    text-align: right;
    font-size: 15px;
    color: #000e1a;
    border: 1px solid var(--border-color);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
    border-bottom: none;
}

.btns {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: repeat(4, 1fr);

    button {
        padding: 0.5em 1.5em;
        border-radius: 0.3em;
        border: none;
        font-size: 1em;
        cursor: pointer;
        background-color: #eee;
    }

    button.equal {
        background-color: #2a2c30;
        color: var(--accent-color);
    }

    button:active {
        transform: scale(0.99);
    }

    button:disabled {
        color: rgba(0, 0, 0, 0.475);
        opacity: 0.6;
        cursor: not-allowed;
    }

    .operator {
        color: #2f9fff;
    }
}

.error {
    border: 1px solid;
    padding: 1em 2em;
    background-repeat: no-repeat;
    background-position: 10px center;
    display: none;
}

.error {
    color: #d8000c;
    background-color: #ffbaba;
    background-image: url("/public/GnyDvKN.png");
}

/* Darkmode styles */

.theme-toggle-button {
    background-color: var(--accent-color);
    color: var(--button-text-color);

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    outline: none;
    transition: var(--transition-delay);
    transform: scale(1);
}

.theme-toggle-button .icon {
    margin: .5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
    transform: scale(1.1);
}

.darkmode-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.3rem;
    width: 60%;
    margin: auto;
    box-shadow: 2px 3px 5px rgba(109, 109, 109, 0.274); /* Adjust as needed */
}

.sun-moon-container {
    --rotation: 0;

    transform: rotate(calc(var(--rotation) * 1deg));
    transition: transform var(--transition-delay);
}

.sun,
.moon {
    fill: var(--accent-color);
    transition: opacity var(--transition-delay);
}

.sun {
    opacity: 1;
}

.dark .sun {
    opacity: 0;
}

.moon {
    opacity: 0;
    transform: rotate(180deg);
}

.dark .moon {
    opacity: 1;
}