body {
  /* Variables */
  --accent-color: #ffd900;
  --background-color: #f6fdff;
  --text-color: #2e2e2e;
  --button-text-color: #2e2e2e;
  --button-background-color: #fff;
  --button-disabled-background-color: rgba(0, 0, 0, 0.475);
  --border-color: rgba(178, 107, 107, 0.445);
  --box-shadow-color: rgba(109, 109, 109, 0.274);
  --border-size: 0.1em;
  --transition-delay: 1s
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin-top: 1rem;
  transition: var(--transition-delay);
  background-color: var(--background-color);
  color: var(--text-color);
}

body.dark {
  --accent-color: cyan;
  --background-color: #333;
  --text-color: #333;
}
body.dark h1 {
  color: var(--button-background-color);
}
body.dark main, body.dark .card,
body.dark .card-body {
  background-color: var(--background-color);
}
body.dark button.equal {
  background-color: var(--accent-color);
  color: var(--background-color);
}
body.dark .darkmode-container {
  box-shadow: 0 0.1em 0.1em var(--box-shadow-color); /* Adjust as needed */
}
body.dark .sun {
  opacity: 0;
}
body.dark .moon {
  opacity: 1;
}

.card {
  border: var(--border-size) solid var(--border-color);
  border-radius: 0.2em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
}
main h1 {
  font-size: 1.5rem;
}

.calc-container {
  border: var(--border-size) solid var(--border-color);
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 25rem;
  border-radius: 0.3rem;
  padding: 1rem 1.5rem;
  box-shadow: 0 1em 2em rgba(0, 0, 0, 0.05);
  border: var(--border-size) solid var(--border-color);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.calc-container p {
  text-align: center;
}

.input-display {
  margin: 0;
  height: 40px;
  width: 100%;
  outline: none;
  text-align: right;
  margin-bottom: 10px;
  font-size: 1.5em;
  color: #000e1a;
  border: var(--border-size) solid var(--border-color);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-top: none;
}

.input-result {
  margin: 0;
  height: 20px;
  width: 100%;
  outline: none;
  text-align: right;
  font-size: 15px;
  color: #000e1a;
  border: var(--border-size) solid var(--border-color);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  border-bottom: none;
}

.buttons-container {
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(4, 1fr);
}
.buttons-container button {
  padding: 0.5em 1.5em;
  border-radius: 0.3em;
  border: 0.1em solid var(--border-color);
  font-size: 1em;
  cursor: pointer;
  background-color: var(--button-background-color);
}
.buttons-container button.equal {
  background-color: var(--text-color);
  color: var(--accent-color);
}
.buttons-container button:active {
  transform: scale(0.99);
}
.buttons-container button:disabled {
  color: var(--button-disabled-background-color);
  opacity: 0.6;
  cursor: not-allowed;
}
.buttons-container .operator {
  color: #2f9fff;
}

.error {
  border: var(--border-size) solid;
  padding: 1em 2em;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: none;
}

.error {
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("/public/GnyDvKN.png");
}

/* Darkmode styles */
.theme-toggle-button {
  background-color: var(--accent-color);
  color: var(--button-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  transition: var(--transition-delay);
  transform: scale(1);
  cursor: pointer;
}

.theme-toggle-button .icon {
  margin: 0.5em;
}

.theme-toggle-button:hover,
.theme-toggle-button:focus {
  transform: scale(1.1);
}

.darkmode-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.3rem;
  width: 60%;
  margin: auto;
  box-shadow: 0 0.1em 0.1em var(--box-shadow-color); /* Adjust as needed */
}

.sun-moon-container {
  --rotation: 0;
  transform: rotate(calc(var(--rotation) * 1deg));
  transition: transform var(--transition-delay);
}

.sun,
.moon {
  fill: var(--accent-color);
  transition: opacity var(--transition-delay);
}

.sun {
  opacity: 1;
}

.moon {
  opacity: 0;
  transform: rotate(180deg);
}

/*# sourceMappingURL=styles.css.map */
